/* Style the links inside the sidenav */
.slide {
    position: absolute; /* Position them relative to the browser window */
    left: -101px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 12px; /* 15px padding */
    width: 150px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    text-align: right;
}

.slide:hover {
    left: -10px; /* On mouse-over, make the elements appear as they should */
}
/* The about link: 20px from the top with a green background */
#search {
    top: 20px;
    background-color: #4CAF50;
}

#menu {
    top: 80px;
    background-color: #2196F3; /* Blue */

}

#test {
    top: 140px;
    background-color: #f44336; /* Red */
}

#navigate {
    top: 200px;
    background-color: rgb(255, 90, 214); /* Light Pink */
}
#ReadMode {
    top: 260px;
    background-color: #555
}
.divideSector{
    margin-left: 180px;
}
#text{
    margin-left: 80px;
    margin-right: 10px;
    line-height: 1.5;
}
p{
    line-height: 3.5;
}
.dropdown-content button{
    background-color: black;
}
.screen-flex{
    display: flex;
    flex-flow: row nowrap;
}
#change-menu{
    bottom: 0;
    display: none;
    position: sticky;
    position:-webkit-sticky;
    width: 70%;
    height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin: 0px 0px 0px 0px;
    border:0px 0px 0px 0px;
    background-color: rgb(220, 221, 220);
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    bottom: -10;
}  
#change-menu button{
    fill: none;
    font-size: 24px;
    margin-left: 10px;
    border: none;
}
#Black{
    background-color: rgb(0,0,0);
    color: rgb(170,170,170);
}
#White{
    background-color: white;
    color: black;
}
#Sepia{
    background-color: rgb(252,241,214);
    color: rgb(98,75,45);
}
#change-menu div{
    margin: 10px 10px 10px 10px;
}body{
    margin: 0 0 0 0;
}
